#macro(mainLayout)
<html>
<head>
    <title>Balka login oldala</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header>
    <nav>
        <ul id="menu">
            #if($currentUser)
                <li>
                    <form method="post" action="/logout">
                        <button id="logout">LOGOUT</button>
                    </form>
                </li>
            #else
                <li><a href="/login">LOGIN</a></li>
            #end
        </ul>
    </nav>
</header>
<main>
    <div id="content">
        $bodyContent
    </div>
</main>
<footer>
   COMMON_FOOTER_TEXT
</footer>
</body>
</html>
#end